:root{
  --primary:#05a081;
  --main-bg-color:#e3e3e3;
  --main-font-color:#4a4a4a;

  --main-blue:#0d47a4;
  --main-white:white;
  --main-red:#ED1B24;

  --danger:#ff3333;
  --warning:#ffaa2b;
  --success:#05a081;
  --info:#47A8F5;
  --string:#ec6811;

  --dark-gray:#414141;

  --main-font: 16px system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", 
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*#region DEFAULTS */
*{
  box-sizing:border-box;
}
html{
  scroll-behavior:smooth;
}
html *{
  letter-spacing: 0.7px;
  font: var(--main-font);
  margin:0px;
}
body{
  margin:0px;
  padding:0px;
  background-color:var(--main-bg-color);
  font: var(--main-font);
  background-attachment:fixed;
  color:var(--main-font-color);
  overflow-y:auto;
  overflow-x:hidden;
}
em{
  font-weight:bold;
}
label{
  white-space: normal;
}
i{
  font-style:italic;
}
p{
  text-indent:25px;
}
a{
  text-decoration:none;
  font-style:none;
  color:var(--main-font-color);
  cursor:pointer;
}
ul{
  list-style-type: none;
  text-align:center;
}
ul li{
  display: inline-block;
  text-align:center;
}
/*#endregion*/

/*#region CONTAINERS */
.flex{
  display:flex;
}
div{
  display: flex;
  align-items: flex-start;
}
.full-screen{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  margin:0;
  padding:0;
  overflow:auto;
}
.main-full{
  margin:0;
}
.wide{
  margin:0 3% 10px 3%;
}
.narrow{
  margin:0 10% 10px 10%;
}
.spread{
  justify-content: space-between;
}
.wrap{
  flex-wrap:wrap;
}
.nowrap{
  flex-wrap:nowrap;
}
.col{
  flex-direction: column;
}
.row{
  flex-direction: row;
}
.center{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.bottom{
  display:flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap:wrap;
}
.right{
  justify-content:right;
}
/*#endregion*/

/*#region FORM */
form{
  display: flex;
  flex-direction: column;
  padding:10px 14px;
}
form > *{
  flex-direction: column;
}
input,select,textarea,button{
  padding:5px 7px;
  border:none;
  border-bottom:solid 1px var(--primary);
  margin:5px;
  outline-style: none;
  transition: all .3s ease-in;
}
select{
  cursor:pointer;
}
/*#endregion*/

/*#region Width */
.w-1{
  width:8.3%;
}
.w-2{
  width:16.6%;
}
.w-3{
  width:25%;
}
.w-4{
  width:33.3%;
}
.w-5{
  width:41.6%;
}
.w-6{
  width:50%;
}
.w-7{
  width:58.3%;
}
.w-8{
  width:66.6%;
}
.w-9{
  width:75%;
}
.w-10{
  width:83.3%;
}
.w-11{
  width:91.6%;
}
.w-12{
  width:100%;
}
.w-100{
  width:100%;
}
.w-90{
  width:90%;
}
.w-80{
  width:80%;
}
.w-75{
  width:75%;
}
.w-70{
  width:70%;
}
.w-50{
  width:50%;
}
.w-33{
  width:33%;
}
.w-30{
  width:30%;
}
.w-25{
  width:25%;
}
.w-20{
  width:20%;
}
/*#endregion */

/*#region Height */
.h-100{
  height:100%;
}
/*#endregion */

/*#region MARGIN */
.mar{
  margin:14px 10px;
}
.mar-0{
  margin:0px;
}
.mar-big{
  margin:20px 28px;
}
.mar-small{
  margin:5px 7px;
}
.mt-1{
  margin-top:10px;
}
.mt-2{
  margin-top: 1.5rem;
}
.mb-1{
  margin-bottom:10px;
}
.mb-2{
  margin-bottom: 1.5rem;
}
.ml-1{
  margin-left:10px;
}
.ml-2{
  margin-left: 1.5rem;
}
.mr-1{
  margin-right:10px;
}
.mr-2{
  margin-right: 1.5rem;
}
.mt-big{
    margin-top:64px;
}
.mb-big{
    margin-bottom:64px;
}
.ml-big{
    margin-left:64px;
}
.mr-big{
    margin-right:64px;
}
/*#endregion */

/*#region PADDING */
.pad{
  padding:14px 10px;
}
.pad-0{
  padding:0px;
}
.pad-big{
  padding:20px 28px;
}
.pad-small{
  padding:5px 7px;
}
.pad-section{
  padding:128px 16px;
}
/*#endregion*/ 

/*#region TEXTS */
.text-banner{
  font-size: 45px;
}
.text-header{
  font-size: 1.875rem;
}
.text-subheader{
  font-size: 1.4rem;
}
.bold{
  font-weight: bold;
}
.i{
  font-style:italic;
}
.u{
  text-decoration: underline;
}
/*#endregion */

/*#region FORE COLOR */
.primary{
  color:var(--primary);
}
.default-color{
  color:var(--main-font-color);
}
.white{
  color:white;
}
.black{
  color:black;
}
.red{
  color:var(--main-red);
}
.success{
  color:var(--success);
}
.info{
  color:var(--info);
}
.warning{
  color:var(--warning);
}
.danger{
  color:var(--danger);
}
.string{
  color:var(--string);
}
/*#endregion */

/*#region BG COLOR*/
.bg-primary{
  background-color:var(--primary);
}
.bg-main{
  background-color:var(--main-bg-color);
}
.bg-white{
  background-color:white !important;
}
.bg-black{
  background-color:black;
}
.bg-blue{
  background-color:var(--main-blue);
}
.bg-red{
  background-color:var(--main-red) !important;
}
.bg-danger{
  background-color:var(--danger);
}
.bg-warning{
  background-color:var(--warning);
}
.bg-success{
  background-color:var(--success);
}
.bg-info{
  background-color:var(--info);
}
.bg-dark-gray{
  background-color:var(--dark-gray);
}
/*#endregion*/

/*#region BORDER*/
.border{
  border:solid 1px;
}
.border-2{
  border:solid 2px;
}
.border-4{
  border:solid 4px;
}
.border-0{
  border:none;
}
.border-bot{
  border-bottom:solid 1px;
}
.border-top{
  border-top:solid 1px;
}
.border-left{
  border-left:solid 1px;
}
.border-right{
  border-right:solid 1px;
}
.border-red{
  border-color:var(--main-red);
}

.circle{
  border-radius:50%;
}
/*#endregion*/

/*#region BORDER COLOR*/
.border-primary{
  border-color:var(--primary);
}
.border-white{
  border-color:white;
}
.border-black{
  border-color:black;
}
.border-blue{
  border-color:var(--main-blue);
}
.border-red{
  border-color:var(--main-red);
}
.border-danger{
  border-color:var(--danger);
}
.border-warning{
  border-color:var(--warning);
}
.border-success{
  border-color:var(--success);
}
.border-info{
  border-color:var(--info);
}
/*#endregion*/

/*#region SHADOW*/
.shadow{
  box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}
/*#endregion*/

/*#region BUTTON */
input[type=submit],button,.btn{
  cursor:pointer;
  border:none;
  padding:14px 10px;
  background-color: var(--primary);
  color:white;
}
.btn *{
  cursor:pointer;
}
input[type=submit]:hover,button:hover,.btn:hover{
  filter:brightness(75%);
}
.btn-small{
  padding:5px 7px;
}
/*#endregion*/

/*#region TABLE*/
table{
  margin:0px 5px 10px 5px;
  border:solid 1px #cccccc;
  border-collapse:collapse;
  overflow:auto;
}
tbody tr:nth-child(odd) {
  background-color: white;
}
tbody tr:nth-child(odd) * {
  background-color: white;
}
tbody tr:nth-child(even) {
  background-color: var(--main-gray);
}
tbody tr:nth-child(even) * {
  background-color: var(--main-gray);
}
th{
  border:none;
  padding:5px 7px;
  text-align:left;
  font-weight:bold;
}
td{
  padding:5px 7px;
  text-align:left;
  max-width:400px;
  overflow-x:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
caption{
  font-weight:bold;
  padding:10px 14px;
  text-align:left;
}

/*center table texts*/
.tbl-center th,.tbl-center td{
  text-align:center;
}

.tbl-clickable tr, .tbl-clickable tr *{
  cursor:pointer;
}
.tbl-clickable tr:hover, .tbl-clickable tr:hover{
  border:solid 1px var(--primary);
}
/*#endregion*/

/*#region NAVBAR */
nav{
  padding: 0 14px;
  top:0px;
  left:0px;
  height:64px;
  position:sticky;
  display: flex;
  justify-content: space-between;
  box-shadow:0px 1px 2px 0px #cccccc;
  background-color:var(--main-bg-color);
}
nav > *{
  display:flex;
  height:100%;
  margin:0px;
  padding:0px 7px;
  height:100%;
  align-items: center;
}
ul{
  padding:0;
}
ul li{
  display: flex;
  cursor:pointer;
  padding:0px 14px;
  height:100%;
  align-items: center;
}
/*
ul li:hover{
  filter:brightness(75%);
}*/
ul li > * {
  display:flex;
  height:100%;
  font-weight: bold;
}

.active{
  border-bottom:var(--primary) inset 2px;
}

.nav-logo img{
  margin-left:10px;
  height:64px;
  cursor:pointer;
}

.nav-avatar{
  cursor:pointer;
  background-color: var(--main-bg-color);
}

.nav-avatar:hover .avatar{
  filter:brightness(75%);
}

.nav-avatar:hover .menu-dropdown .menu-drop-item{
  display:block;
}

.menu-drop-item{
  display:none;
}
/* #endregion */


/*#region Searchable Dropdown */ 
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height:500px;
  overflow-y:auto;  
}

.dropdown-content *{
  width:100%;
  cursor:pointer;
  padding:5px 7px;
}

.dropdown-content *:hover{
  color:white;
  background-color: var(--info);
}

.dropdown:hover .dropdown-content,.dropdown:focus .dropdown-content {
  display: flex;
  width:100%;
  top:100%;
  flex-direction: column;
}
/* #endregion*/

.bg-img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.round{
  border-radius:4px;
}

.none{
  display:none;
}

.scroll-x{
  overflow-x: auto;
}

.sticky-top{
  position:sticky;
  top:0;
}
@media only screen and (max-width:600px){
  .mobile-hide{
    display:none;
  }
  .mobile-show{
    display:flex;
    flex-direction: column;
    width:100%;
  }

  .mobile-grow{
    width:100%;
  }
  table{
    overflow-x: auto;
  }
}